.card-container {
  align-items: center;
  width: 500px;
  height: 30px;
  background-color: #CFD8DC;
  margin-left: auto;
  margin-right: auto;
}

.title-container {
  background-color: #B0BEC5;
  font-family: Cantarell;
  text-align: center;
}
