.card-container {
  align-items: center;
  width: 500px;
  height: 30px;
  background-color: #ECEFF1;
}

.title-container {
  background-color: #607D8B;
  font-family: Cantarell;
  align-self: center;
  justify-content: center;
}
