<div>
  <h1 class="title-container">
    <button class="button-container" routerLink="/companies">
      <i class="material-icons">desktop_mac</i>
    </button> Company Database
  </h1>
  <button class="add-button-container" routerLink="/companies/add">
    <i class="material-icons">add_circle</i>
  </button>
</div>
<mat-list class="main-container" *ngFor="let company of companies">
  <div>
    <i class="material-icons">domain</i>
    <app-company [company]="company"></app-company>
  </div>
</mat-list>




