<div>
  <h1 class="main-title-container">
    <button class="button-container" routerLink="/companies">
      <i class="material-icons">desktop_mac</i>
    </button> Company Database
    <button class="add-button-container" routerLink="/companies/add">
      <i class="material-icons">add_circle</i>
    </button>
  </h1>
</div>
<mat-list class="main-container" *ngFor="let company of companies">
  <div class="title-container">
    <i class="material-icons">domain</i>
    <app-company [company]="company"></app-company>
  </div>
</mat-list>




