.main-container {
  background-color: #CFD8DC;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
}

.button-container {
  color: #607D8B;
}

.add-button-container {
  color: #607D8B;
  margin-left: 1250px;
  margin-bottom: 10px;
}

.title-container {
  background-color: #CFD8DC;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
