.main-container {
  background-color: #CFD8DC;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
}

.title-container {
  background-color: #607D8B;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
