.main-container {
  background-color: #90A4AE;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
}

.button-container {
  color: #607D8B;
}

.add-button-container {
  color: #607D8B;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.main-title-container {
  background-color: #90A4AE;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  width: 550px;
}

.title-container {
  background-color: #90A4AE;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
