<div>
  <button class="button-container">
    <i class="material-icons" routerLink="/companies">home</i>
  </button>
  <h1 class="main-title-container">
    Get company's details
  </h1>
</div>
<mat-card *ngIf="company" class="card-container">
  <mat-card-title class="title-container">
    <span> Company: </span>
      {{company.name}}
  </mat-card-title>
  <mat-card-content>
    <ul>
      <li>
        <span>ID: </span>
        {{ company.id }}
      </li>
      <li>
        <span>Name: </span>
        {{ company.name }}
      </li>
    </ul>
  </mat-card-content>
  <mat-card-actions class="actions-container">
    <button routerLink="/companies/update/{{company.id}}">
      <i class="material-icons">mode_edit</i>
    </button>
    <button (click)="deleteCompany()">
      <i class="material-icons">delete</i>
    </button>
  </mat-card-actions>
</mat-card>
