<mat-card *ngIf="company" class="card-container">
  <mat-card-title class="title-container">
    <span> Company: </span>
      {{company.name}}
  </mat-card-title>
  <mat-card-content>
    <ul>
      <li>
        <span>ID: </span>
        {{ company.id }}
      </li>
      <li>
        <span>Name: </span>
        {{ company.name }}
      </li>
    </ul>
  </mat-card-content>
  <mat-card-actions class="actions-container">
    <button mat-icon-button class="button-container">
      <a routerLink="/companies/update/{{company.id}}"> Update </a>
    </button>
    <button>
      <i class="material-icons" (click)="deleteCompany()">delete</i>
    </button>
  </mat-card-actions>
</mat-card>
