.actions-container {
  align-items: center;
}

.button-container {
  background-color: #90A4AE;
  font-family: Cantarell;
  justify-content: center
}

.card-container {
  align-items: center;
  background-color: #ECEFF1;
  font-family: Cantarell;
  height: 100px;
  width: 500px;
}

.title-container {
  background-color: #607D8B;
  font-family: Cantarell;
  align-self: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
