<div>
  <button class="button-container">
    <i class="material-icons" routerLink="/companies">home</i>
  </button>
  <h1 class="title-container">
    Create a new Company
  </h1>
</div>
<div class="main-container">
  <form [formGroup]="companyAddFormGroup">
    <span class="form-control-container">Enter the company's name</span>
    <input class="form-control-container" placeholder="Company's Name" formControlName="name" [(ngModel)]="company.name">
  </form>
  <button class="validation-button-container" [disabled]="!companyAddFormGroup.valid" (click)="submitMethod()">
    <i class="material-icons">done</i>
  </button>
</div>

